.noselect { 
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
svg {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  max-width: 40%;
}
#names {
  display: none;
}
body {
  background-color: #3997BF;
}

.st0{fill:none;stroke:#CCCCCC;}
.st1{fill:#FFFFFF;stroke:#000000;}
.st2{fill:none;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}

  #names


#zone{
  height: 34px;
  width: 60px;
  float:left;
}

/* When mouse hovers region, changes color 
.st1:hover {
    fill: #DA4567;
  }
*/

/* Positioning saves button on the left corner */
.box {
  position: relative;

}

.buttonSaves {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #000000; /* black */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 2px solid #000000;
  transition-duration: 0.4s;
  border-radius: 8px;
  text-align: center;
  line-height: 0;
}

.save {
  position: relative;
  background-color: #000000; /* black */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 2px solid #000000;
  transition-duration: 0.4s;
  border-radius: 8px;
  text-align: center;
  line-height: 0;
  margin-bottom: 10px;
  margin-top: 10px;
}
.load {
  position: relative;
  background-color: #ffffff; /* white */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 2px solid #000000;
  transition-duration: 0.4s;
  border-radius: 8px;
  text-align: center;
  line-height: 0;
}

.load:hover{
  background-color: #000000; /* white */
  color: white;
}

.save:hover{
  background-color: #ffffff; /* white */
  color: black;
}

.buttonSaves:hover {
  background-color: #ffffff; /* white */
  color: black;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #000000;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #fa5e3e;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #000000;
  color: white;
}

/* Modal Body */
.modal-body {padding: 15px 16px;}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #000000;
  color: white;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #000000;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
